body{
    background: whitesmoke;
    box-sizing: border-box;
}

.login{
    border: solid 1px #cccccc;
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: #ccc 0px 0px 10px 5px;
    width: 400px;
}

.logout{
    position: fixed;
    top:10px;
    right: 10px;
}

.text-center{
    text-align: center;
}

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-title{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.table > td{
    vertical-align: unset !important;
}

.captcha{
    margin: 0 !important;
}

.login > p{
    margin-left: 7px;
    color: #9c9c9c;
    font-size: 17px;
}

.login > ul{
    margin: 0;
}

.login > div > input[type="text"],input[type="password"]{
    font-size: 18px;
    width: 385px;
    height: 40px;
    background: whitesmoke;
    border: 0;
    border-radius: unset;
    box-shadow: unset;
    border-bottom: solid 0.5px #ccc;
}

.login > div > input:focus{
    border: 0;
    border-bottom: solid 0.5px #ccc;
    box-shadow: unset;
}

.login > img{
    zoom: 250%;
}

.drogbox{
    display: flex;
    justify-content: space-around;
    height: 50px;
    user-select: none !important;
    border:solid 1px #ccc;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: #ccc .5px .5px 2px;
}

.drogbox > span {
    color: gray;
    line-height: 50px;
}

.drog{
    width: 30px;
    margin: 10px;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.login > .btn{
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.block {
    width: 10%;
    background: rgba(235,217,244,60%);
    padding: 5px;
    border-left: solid 3px rgb(178,93,211);
    border-radius: 5px;
    margin: 5px 0px;
    color: rgb(138,84,160);
    position: absolute;
    left: 100px;
}

.block > b{
    margin-left: 5px;
}

.block > .blockhead{
    display: flex;
    justify-content: space-between;
}

.block > .blockhead > p {
    margin: 0px;
    line-height: 17px;
}

.work > thead > tr > td:last-child{
    display: flex;
    justify-content: center;
}

.work > tbody > tr >td:first-child{
    display: flex;
    align-items: center;
}

.work > tbody > tr >td{
    height: 50px;
}

.addwork{
    width: calc(100%);
}

.addwork15{
    width: calc(100% - 15px);
}