*{
    user-select: none;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-block{
    border: solid 1px #c0262d;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
}

.text-center{
    text-align: center;
}

.logo{
    height: 50px;
}

.logout{
    position: absolute;
    top: 20px;
    right: 20px;
}

.captcha{
    border: solid 1px #ccc;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dragbox{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 18px;
    border: solid 1px #ccc;
    border-radius: 8px;
}

.textbox{
    width: calc(100% - 20px);
    height: 40px !important;
    border: unset !important;
    border-radius: unset !important;
    box-shadow: unset !important;
    font-size: 18px !important;
    color: #ccc;
    border-bottom: solid 1px #ccc !important;
}

.fakepassword{
    -webkit-text-security: disc;
}

p{
    display: unset;
}

.login-block > .btn{
    height: 40px;
}

.btn{
    background: #c0262d;
    color: white;
}

.btn:active,.btn:hover{
    background: #7a181c;
    color: white;
}

.btn-group.open .btn.dropdown-toggle{
    background: #7a181c;
}

.table-border{
    border: solid 1px #c0262d;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
}

.work > tbody > tr{
    height: 100px;
}

.block{
    color: #c0262d;
    position: absolute;
    border-radius: 8px;
    width: 170px;
    background: rgba(192, 38, 45, 0.3);
    border-left: solid 5px #c0262d;
}

.block-padding{
    padding: 5px;
}

.block-head{
    display: flex;
    justify-content: space-between;
}

.block-head >p{
    line-height: 18px;
    margin: 0;
}

.block-body{
    display: flex;
    justify-content: left;
}

.block-body > b{
    line-height: 18px;
    margin: 0;
    margin-left: 5px;
}

.width80{
    width: 80%;
    min-width: 80%;
    max-width: 80%;
}