<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X2N1NWFYTX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5H9C0SRF7F');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新北高工選手證產生器</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap">
  <link rel="stylesheet" href="./css/toba.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/fontawesome.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/solid.min.js"></script>
</head>
<body>
  <div id="app">
    <div id="bg"></div>
    <div class="container" id="content">
      <div class="row justify-content-center">
        <div class="col-10 text-white d-flex align-items-center justify-content-center my-4" id="title">
          <img src="./images/logo.png" width="100" class="mx-3">
          <h1>新北高工選手證產生器</h1>
        </div>
        <div class="col-10 my-3">
          <div class="card">
            <div class="card-body">
              <div class="mb-3">
                <label for="input-" class="form-label">學號</label>
                <input placeholder="請輸入學號..." class="form-control" id="input-id" type="text" v-model="input.id" @input="refresh">
              </div>
              <div class="mb-3">
                <label for="input-dep0" class="form-label">學生姓名</label>
                <input placeholder="請輸入學生姓名..." class="form-control" id="input-location" type="text" v-model="input.location" @input="refresh">
              </div>
              <div class="mb-3">
                <label for="input-name0" class="form-label">競賽名稱</label>
                <input placeholder="請輸入競賽名稱..." class="form-control" id="input-name" type="text" v-model="input.name" @input="refresh">
              </div>
              <div class="mb-3">
                <p>班級</p>
                <input placeholder="請輸入學生班級..." class="form-control" type="text" v-model="input.joinDate" @input="refresh">
              </div>
              <div class="mb-3">
                <p>使用期限</p>
                <datepicker v-model="input.pubDate" :mode="single" highlight></datepicker>
              </div>
              <div class="mb-3">
                <label for="input-file0" class="form-label">大頭貼</label>
                <div class="form-file">
                  <input id="input-file0" class="form-file-input" type="file" @input="handleFile" accept="image/*">
                  <label class="form-file-label" for="input-file0">
                    <span class="form-file-text">選擇圖片...</span>
                    <span class="form-file-button">瀏覽</span>
                  </label>
                </div>
              </div>
              <canvas width="812" height="531" class="d-block my-3 canvas"></canvas>
              <p class="text-center">
                <button type="button" class="btn btn-success btn-lg btn-large" @click="download">下載圖片</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script>
    window.PopperCore = window.Popper
  </script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src='https://unpkg.com/v-calendar@3.0.0-alpha.3/lib/vcalendar-browser.min.js'></script>
  <script src="./js/app.js"></script>
  <script type="module">
    import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
  </script>
</body>
</html>
