<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="13.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>取代網址</h1>
    <table>
      <tr>
        <td>原始網址</td>
        <td>新網址</td>
        <td></td>
      </tr>
      <tr v-for="(url, i) in urlForm">
        <td>
          <input type="text" v-model="url.old">
        </td>
        <td>
          <input type="text" v-model="url.new">
        </td>
        <td>
          <input type="button" class="btn btn-success" v-if="i === 0" value="新增" @click="add">
          <input type="button" class="btn btn-error" v-else value="刪除" @click="del(i)">
        </td>
      </tr>
      <tr>
        <td><input type="button" class="btn btn-primary" value="儲存並套用" @click="save"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <script src="13.vue.js"></script>
</body>
</html>