* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
}

#logo {
  font-size: 24px;
  width: 300px;
  margin: 0;
  padding-right: 48px;
  text-align: center;
}

header {
  display: flex;
  padding: 12px 24px;
  align-items: center;
}

#searchForm > input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 8px;
  height: 50px;
  background-color: #f1f3f4;
  padding:0 24px;
  font-size: 20px;
  outline: none;
}

.newinput{
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: solid 1px #e0e0e0;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  margin: 10px 0;
}

.newtextarea{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  margin: 10px 0;
}

.newselect{
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #666;
  border: solid 1px #e0e0e0;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  margin: 10px 0;
}

#searchForm {
  flex: 1;
}

.flex {
  display: flex;
}

#aside {
  width: 300px;
}

#main {
  /* width: calc(100% - 300px); */
  flex: 1;
}

#aside {
  padding-top: 24px;
}

button {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  margin-left: 24px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.item {
  cursor: pointer;
  width: 100%;
  padding: 12px 24px;
  border-radius: 0 24px 24px 0;
  position: relative;
}

.num {
  position: absolute;
  right: 24px;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.current {
  background-color: #e7f0fe !important;
  color: #0067d2;
}

.side-title {
  padding-left: 24px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
}

#addStudent {
  width: 80%;
  margin-bottom: 32px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog>div {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  margin: 100px auto;
  width: fit-content;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.message {
  text-align: center;
  font-size: 18px;
  color: rgb(255, 50, 0);
  margin-bottom: 24px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.contacts > thead,.contacts>tbody {
  width: 100%;
}

.contact {
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.contacts > thead > .contact{
  margin-top: 24px;
}

.contacts > thead > .contact > p {
  font-weight: bold;
}

.author {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-group{
  display: flex;
  align-items: center;
}

.name-group > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 18px;
}

.newContact {
  padding: 0 24px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.newContact > .form{
  max-height: 400px;
  overflow-y: auto;
}

.newContact > .flex{
  display: flex;
  align-items: center;
  justify-content: right;
}

.name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name > *{
  width: 45%;
}

.name > img{
  width: 40px;
  height: 40px;
}

.name > img:hover{
  cursor: pointer;
}