body{
    box-sizing: border-box;
    user-select: none;
}

.login{
    border: solid 1px #c0262d;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}

.logout{
    position: absolute;
    top:10px;
    right: 10px;
}

.pass {
    -webkit-text-security: disc;
}

.text-center{
    text-align: center;
}

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-title{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.table > td{
    vertical-align: unset !important;
}

.captcha{
    margin: 0 !important;
}

.login > p{
    margin-left: 7px;
    color: #9c9c9c;
    font-size: 17px;
}

.login > ul{
    margin: 0;
}

.login > input[type="text"],input[type="password"]{
    font-size: 18px;
    width: 385px;
    height: 40px;
    border: 0;
    border-radius: unset;
    box-shadow: unset;
    border-bottom: solid 0.5px #ccc;
}

.login > div > input:focus{
    border: 0;
    border-bottom: solid 0.5px #ccc;
    box-shadow: unset;
}

.login > img{
    zoom: 250%;
}

.drogbox{
    display: flex;
    justify-content: space-around;
    height: 50px;
    user-select: none !important;
    border-radius: 8px;
    margin: 10px 0;
}
.border{
    border:solid 1px #ccc;
    box-shadow: #ccc .5px .5px 2px;
}

.drogbox > span {
    color: gray;
    line-height: 50px;
}

.drog {
    width: 30px;
    margin: 10px;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.btn{
    background: #c0262d;
    color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.btn:hover{
    background: #7c1b1e;
    color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.btn-group.open .dropdown-toggle{
    background-color: #7c1b1e !important;
    color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.login > .btn{
    background: #c0262d;
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.block {
    width: 180px;
    background: rgba(235,217,244,60%);
    border-left: solid 3px rgb(178,93,211);
    border-radius: 5px;
    margin: 5px 0px;
    color: rgb(138,84,160);
    position: absolute;
    left: 100px;
    overflow: auto;
}

.block > b{
    margin-left: 5px;
}

.block > .blockhead{
    display: flex;
    justify-content: space-between;
}

.block > .blockhead > p {
    margin: 0px;
    line-height: 17px;
}

.line{
    margin: 20px auto;
    width: 90%;
    border: solid 1px #c0262d;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 8px;
}

.work > thead > tr > td:last-child{
    display: flex;
    justify-content: center;
}

.work > tbody > tr >td:first-child{
    display: flex;
    align-items: center;
}

.work > tbody > tr >td{
    padding: 0;
    height: 99px;
}

.addwork{
    width: 80%;
    max-width: 80%;
    min-width: 80%;
}

.addworkmodal > label{
    display: unset;
}

.addwork15{
    width: calc(80% - 15px);
    max-width: calc(80% - 15px);
    min-width: calc(80% - 15px);
}

.logo{
    text-align: center;
    zoom:25%;
    margin: 50px auto;
}